<% layout('./layouts/boilerplate',{cssFile: 'home'}) %>
<main class="home-main_container">
  <div class="home-main_content">
    <h2>Welcome to TheCouponSystem!</h2>
    <p class="home-main_decsription">
      Dive in and discover a fun and effective way to encourage your kids to
      study and work harder towards achieving their wildest dreams. <br />
    </p>
    <div class="home-buttons">
      <button
        href=""
        type="button"
        class="btn home-btn"
        style="bg-color: #cce7ff"
      >
        Login
      </button>
      <button
        href=""
        type="button"
        class="btn home-btn"
        style="bg-color: #cce7ff"
      >
        Sign Up
      </button>
    </div>
  </div>

  <div class="home-main_img-container">
    <img src="/images/pic1.svg" alt="pic" id="home-main_img" />
  </div>
</main>
