.home-page-body {
  background-color: antiquewhite;
}
.home-main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  height: 75vh;
  width: 100%;
}
.home-main_container * {
  margin: auto;
}

.home-btn {
  margin-top: 20px;
  background-color: #cce7ff;
}

.home-btn:hover {
  background-color: #cce7ff;
}

.home-btn:active {
  background-color: white;
}

.home-buttons {
  display: flex;
  align-items: center;
}
